body {
    font-size: 125%;
    background-color: #E9ECF2;
    color:#4D4D4D; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
}
h1, h2, h3 {
    font-family:'Helvetica, sans-serif';

}
/*Center content on page*/
header, main, footer {
    width: 40em;
    max-width: 98%;
    margin: 2em auto;
}


/*Style the navbar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
}
nav ul.open {
    opacity: 1;
    height: auto;
}

nav#menu a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    background-color: #d34f67;
    
}
nav#menu a:hover {
    background-color: #DF8192; 
}
nav#menu a:visited {
    color: #E9ECF2;
}

/*Toggle navbar*/
#menu-toggle {
    width: 2em;
    height: 2em;
    background-color: #d34f67;
    border-radius: 2em;
    transition: all 0.3s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#menu-toggle:hover {
    background-color: #DF8192;
}
#menu-toggle div {
    width: 50%;
    height: 3px;
    background-color: #E9ECF2;
    margin: 4px auto;
    transform: translateY(12px);
}

/* tablet view and up */
@media only screen and (min-width: 550px) {
    nav ul {
        flex-direction: row;
    }
    #menu-toggle {
        opacity: 0;
        height: 0;
        width: 0;
    }
}
